@{
    ViewData["Title"] = "Home Page";
}
<p>Helo</p>
<p>How </p>
<p>Are</p>
<p>you</p>
<div class="text-center">
    <h1>Moamen Qudah</h1>
    <h2>Moamen Qudah 2</h2>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    <h1>sajeda </h1>
    <p>hello</p>
    <h1>dsdsdsdsdsd<h1>


    <h1>hgsajjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<h1>
    <h3>Here We Are</h3>


        <h1>lina</h1>
        <h1>lina sami</h1>
        <h1>sajeda almashaykh</h1>
</div>
